<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_char_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{191,37},{20,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{1,76},{20,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{255,37},{20,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{223,37},{20,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{1,242},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{19,29}</string>
                <key>textureRect</key>
                <string>{{161,117},{19,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,29}</string>
                <key>textureRect</key>
                <string>{{92,117},{24,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{54,200},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{87,200},{15,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{164,200},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{1,158},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{133,200},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{93,76},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{95,37},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{243,1},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{172,1},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{159,37},{20,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{127,37},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{63,37},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,25}</string>
                <key>spriteSourceSize</key>
                <string>{20,25}</string>
                <key>textureRect</key>
                <string>{{1,37},{20,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,20}</string>
                <key>spriteSourceSize</key>
                <string>{21,20}</string>
                <key>textureRect</key>
                <string>{{105,1},{21,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{73,1},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,9}</string>
                <key>spriteSourceSize</key>
                <string>{23,9}</string>
                <key>textureRect</key>
                <string>{{38,1},{23,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,6}</string>
                <key>spriteSourceSize</key>
                <string>{25,6}</string>
                <key>textureRect</key>
                <string>{{1,1},{25,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{128,117},{21,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,29}</string>
                <key>spriteSourceSize</key>
                <string>{21,29}</string>
                <key>textureRect</key>
                <string>{{221,117},{21,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{194,200},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{19,29}</string>
                <key>textureRect</key>
                <string>{{38,158},{19,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{61,76},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{254,117},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{57,117},{23,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{207,76},{18,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,30}</string>
                <key>spriteSourceSize</key>
                <string>{19,30}</string>
                <key>textureRect</key>
                <string>{{1,200},{19,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{249,200},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,30}</string>
                <key>spriteSourceSize</key>
                <string>{10,30}</string>
                <key>textureRect</key>
                <string>{{32,200},{10,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,30}</string>
                <key>spriteSourceSize</key>
                <string>{12,30}</string>
                <key>textureRect</key>
                <string>{{225,200},{12,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{29,242},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{106,242},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,30}</string>
                <key>spriteSourceSize</key>
                <string>{9,30}</string>
                <key>textureRect</key>
                <string>{{85,242},{9,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,30}</string>
                <key>spriteSourceSize</key>
                <string>{13,30}</string>
                <key>textureRect</key>
                <string>{{134,242},{13,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{209,1},{22,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{138,1},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,25}</string>
                <key>spriteSourceSize</key>
                <string>{18,25}</string>
                <key>textureRect</key>
                <string>{{33,37},{18,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,29}</string>
                <key>spriteSourceSize</key>
                <string>{16,29}</string>
                <key>textureRect</key>
                <string>{{29,117},{16,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,30}</string>
                <key>spriteSourceSize</key>
                <string>{14,30}</string>
                <key>textureRect</key>
                <string>{{59,242},{14,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{193,242},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{226,242},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{159,242},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,29}</string>
                <key>spriteSourceSize</key>
                <string>{17,29}</string>
                <key>textureRect</key>
                <string>{{192,117},{17,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{125,76},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,29}</string>
                <key>spriteSourceSize</key>
                <string>{15,29}</string>
                <key>textureRect</key>
                <string>{{154,76},{15,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,29}</string>
                <key>spriteSourceSize</key>
                <string>{16,29}</string>
                <key>textureRect</key>
                <string>{{1,117},{16,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,29}</string>
                <key>spriteSourceSize</key>
                <string>{17,29}</string>
                <key>textureRect</key>
                <string>{{263,76},{17,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{33,76},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,29}</string>
                <key>spriteSourceSize</key>
                <string>{14,29}</string>
                <key>textureRect</key>
                <string>{{237,76},{14,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,29}</string>
                <key>spriteSourceSize</key>
                <string>{14,29}</string>
                <key>textureRect</key>
                <string>{{181,76},{14,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{262,158},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{207,158},{15,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{234,158},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{179,158},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,30}</string>
                <key>spriteSourceSize</key>
                <string>{17,30}</string>
                <key>textureRect</key>
                <string>{{96,158},{17,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{125,158},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{69,158},{15,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,30}</string>
                <key>spriteSourceSize</key>
                <string>{14,30}</string>
                <key>textureRect</key>
                <string>{{153,158},{14,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_char_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,30}</string>
                <key>spriteSourceSize</key>
                <string>{7,30}</string>
                <key>textureRect</key>
                <string>{{114,200},{7,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_char.png</string>
            <key>size</key>
            <string>{281,281}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c7d1602d2aec127cc98faaed2a9f34e:8e1c75479aa8305ae637e3345985daac:80fd541c9914d594dc6658cca7770c11$</string>
            <key>textureFileName</key>
            <string>player_char.png</string>
        </dict>
    </dict>
</plist>
