.movie-box {
  height: 350px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  overflow: hidden;
}

button {
  background-color: red;
  border-style: solid;
  border-color: green;
  border-width: 2px;
}

img {
  height: 260px
}
