// fix rows
table, td, tr {
   border: .5px solid black;
   text-align: center;
   border-radius: 50%;
}

// center board
table {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding:100px 11px;
  margin:0 auto;
  border:2px solid #a1a1a1;
  border-radius: 25px;
  background-color: black;
}

// center button
.Gameboard {
  text-align: center;
}

.circle {
width: 40px;
height: 40px;
background: white;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 100px;
}

.red {
width: 40px;
height: 40px;
background: red;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 100px;
}

.blue {
width: 40px;
height: 40px;
background: blue;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 100px;
}
