.container
  .messages
    %ul
      -@messages.each do |message|
        %li=message.body

  =form_for @new_message, remote: true do |f|
    %fieldset
      =f.label :body
      =f.text_field :body
      =f.submit "Send"
