/* YOUR STYLING HERE */
#letter {
  width : 700px;
  margin: auto;
  background-color: #CEB992;
}

#accepted {
  background-color: green;
  margin-right: 10px;
}

#rejected {
  background-color: red;
}

#blah {
  width: 300px;
}
