.selected {
  background-color: #FBE08C;
}

div {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

button {
  background-color: red;
  border-style: solid;
  border-color: green;
  border-width: 2px;
}

textarea {
  height: 400px;
}
